<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tk.khecnotice.khecnotice">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".KhECNoticeApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LogInActivity"
            android:label="@string/title_activity_log_in">

        </activity>
        <activity
            android:name=".SignUpActivity"
            android:label="@string/title_activity_sign_up"></activity>
        <activity
            android:name=".DisplayRoutineActivity"
            android:label="@string/title_activity_display_routine">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
